@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
  /* font-family: "Gemunu Libre", sans-serif; */
  font-family: 'VT323', monospace;
  background: linear-gradient(45deg, #7a7a58, #000);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    
}


.typewriter{
    
    width: 30ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  color: black;
}

@keyframes typing {
    from { width: 0 }
    
  }

  @keyframes blink {
    50% {
        border-color: transparent
      }
  }

  .wrapper {
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  } 
   section{ 
      display: flex;
      justify-content: center;
      
      align-items: center;
  }

  a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 40px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
a:hover{
    background: #495e35;
    color: #050801;
    box-shadow: 0 0 5px #495e35,
                0 0 25px #495e35,
                0 0 50px #495e35,
                0 0 200px #495e35;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#495e35);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#495e35);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#495e35);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#495e35);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
} 

.main-wrapper{
    height: 50%;
    width: 100%;
    padding-top: 25%;
}

.buttons{
    transform: translateY(50px);
    transition: 2.0s;
    opacity: 0;

}

:hover .buttons{
    transform: translateY(0px);
    opacity: 1;
}



