@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

body {
  font-family: "Gemunu Libre", sans-serif;
  background-color:#161623;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* min-height: 100vh; */
  margin: 0;
  padding: 0;
}

header{
    font-family: 'Arizonia', cursive;
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 200%;
    background: url(./pictures/fire.jpeg);
    background-position: 0, 0;
    animation: back 20s linear infinite;
    color:white;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 50px;
}
.dark, .light{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 0, 0;
    animation: up 20s linear infinite;
   
}
 .dark{
    background: url(./pictures/skulls.jpeg);
    background-position: center;
    background-size: cover;
}

.light{
    background: url(./pictures/sky.jpeg);
    background-position: center;
    background-size: cover;
}

.bar{
    display: flex;
    text-decoration: none;
    color:white;
    
    
}

section{
    position: relative;
}

.container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);

}

.container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
    
}

.container .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}

.container .card .content .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .card .content .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content .contentBx h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;

}
.container .card .content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.container .card .sci{
    position: absolute;
    bottom: 50px;
    display: flex;
}
.container .card .sci li .socials {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));

}
.container .card:hover .sci li .socials{
    transform: translateY(0px);
    opacity: 1;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.socials{
    text-decoration: none;
    list-style:none;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
    

@keyframes back{
    100%{
        background-position: 2000px 0px;
    }
}

@keyframes up{
    100%{
        background-position: 0px 2000px;
    }
}